body{
  width:100%;
  height:100%;
}

.main-wrapper{

}

.page-wrapper{

  height:90vh;
  border:1px solid black;


  display:flex;
  justify-content:space-around;
  align-items:space-around;

  flex-wrap:wrap;
  flex-dimension:row;



}

.leftside{

  border:1px solid red;
  width:30%;
  flex: 3 1 0 ;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;

  background-color:#312b7b;

}

.leftside-wrapper{
  width:80%;
  margin:0 auto;
  padding: 60px 0 ;
  border:1px solid blue;
}

.page-links{
  font-size:2rem;
  border:1px solid blue;
  text-align:left;

  width:80%;
  margin:0 auto;
  display:grid;
  grid-template-columns: 1fr ;
  grid-template-rows: repeat(1fr,3);
}

.page-links a{
  text-decoration:none;
  margin:5px 0 ;
  padding-right:20px;
  font-family: 'Source Code Pro', monospace;
  border:1px solid red;
}

.page-links a:link{
  color:#4fbb44;
}
.page-links a:visited{
 color:#4fbb44;
}
.page-links a:hover{
  color:#4fbb44;
}
.page-links a:active{
  color:#4fbb44;
}

.social{
  margin:20px 0;
  border:1px solid blue;
  display:flex;
  bottom:20px;
}

.social a{
  font-size:2rem;
  border:1px solid pink;
  flex:1 1 0;
  color:white;
}



.rightside{
  border:1px solid red;
  flex: 7 1 0;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;

  background-color:#4fbb44;

}

.rightside-wrapper{
  width:80%;
  margin:0 auto;
  border:1px solid blue;
  color:#312b7b;
}

.rightside-wrapper h1{
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  font-size:4rem;
}

.rightside-wrapper h3{
  font-family: 'Roboto', sans-serif;
  margin-top:-20px;
  font-size:2rem;
}

.rightside-wrapper p{
  font-family: 'Source Code Pro', monospace;
}

.footer{
  border:1px solid black;
  width:80%;
  margin:10px auto;
  padding:10px 30px;
  font-family: 'Source Code Pro', monospace;
  background-color:#312b7b;
  color:white;
}

@media screen and (max-width:758px){

  .leftside{
    flex: 1 1 300px;

  }

  .rightside{
    flex: 1 1 auto;
  }

  .main-wrapper{
    display:flex;
    flex-wrap:wrap;
  }

  .page-wrapper{
    flex:1 1 auto;
    height:auto;
  }

  .footer{
    flex 1 1 300px;

  }

}

@media screen and (max-height:400px){
  .rightside{

  }
  .page-wrapper{
    min-height:500px;
  }

}
