html{
  height:100%;
  width:100%;
}

body{
  margin:0;
  padding:0;
  height:90%;
  width:100%;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}




.section-landing-page{
  
  height:100%;
  width:100%;
  border:1px solid blue;
  display:flex;
  flex-wrap:wrap;
  flex-dimension:row;
  justify-content:start;
  
}



.left-sidebar{
  border: 1px solid black;
  height:100%;
  flex: 3 1 0;
  text-align:center;   
  display:flex;
  justify-content:center;
  align-items:center;
}

.main{
 
  height:100%;
  border:1px solid black;
  text-align:center;
  flex: 7 1 0;
  
  background-image:url("https://picsum.photos/id/238/2100/1300");
  background-size:cover;
  background-position:center;
  
}

.left-sidebar i {
  
  font-size:2.5rem;
  margin:0 1rem;
  
}

.content-wrapper-main{
  width: 80%; 
  margin:0 auto;
  border:1px solid red;
  text-align:center;
  
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-contents:center;
}

.jumbotron{
  flex: 1 1 auto ; 
  background-color:red;
}

.content-wrapper-side{
  width: 80%; 
  border:1px solid red;
  text-align:center; 
}

.section-skills{
  border:1px solid blue;
}

.section-projects{
  border:1px solid blue;
}




@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
